body {
    font-family: 'Raleway', sans-serif;
}
.header {
    height: 80vh;
}
.mg {
    margin-top: 13px;
    margin-bottom: 13px;
}
.portfolio-item {
    height: 300px;
}
h1,h2, p {
    text-align: center;
}
h1 {
    font-weight: 900;
    font-size: 53px;
    color: #000;    
}
h2 {
    font-weight: normal;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
p {
    margin: 0 auto;
    margin-top: 35px;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 18px;
    text-align: center;
    color: #000;    
}