/* Font Face */
@font-face {
    font-family: AquaFont;
    src: url(../src/font/aqua.ttf);
}
h1 {
    margin: 0;
    font-size: 49px;
}
.salute {
    margin-top: 20vh; 
}
.short {
    font-size: 22px;
    opacity: .3;
}
body {
    margin: 0;
    width: 100wh;
    height: 100vh;
    background-image: url(../imgs/mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background-color: transparent;
    color: white;
    font-family: 'AquaFont';
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.things {
    width: 80vw;
    height: 80vh;
    display: flex;
    
}
.part1 {
    width: 50%;

}
.part2 {
    width: 50%;
    margin-top: 25vh;
}
.home, .contact, .portfolio {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    margin: 3vh auto;
    transform: scale(.7);
    opacity: .3;
    cursor: pointer;
    transition: 300ms;
}

/* Active Part */

.activeOne {
    opacity: 1;
    transform: scale(1);
}
.activeOne:hover {
    opacity: .1;
}
.inactioveOne:hover {
    opacity: .9;
}

.shorter {
    font-size: 18px;
    opacity: .3;
    margin-top: 2vh;
    width: 100px;
}
a {
    color: white;
    text-decoration: none;
    transition: 300ms;
    width: 100px;
}
a:hover {
    opacity: 1;
}
.portarea {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.portbox {
    margin: 5px;
    width: 152px;
    height: 152px;
    background-color: white;
}
/* MEDIA SCREEN */
@media screen and (max-width: 600px) {
    .part1, .part2 {
            width: 100%;
    }
    .part2 {
            margin-top: 10vh;
    }
    h1 {
            font-size: 28px;
    }
    .things {
            flex-direction: column;
    }
    .portbox {
            width: 65px;
            height: 65px;
    }
}